---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@300;400;500&display=swap');

.page-content {
    // font: 400 18px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"
}
.site-header {
    border-top: none;
    padding: 30px 0;
    // border-bottom: none;
}
a.site-title {
    font-size: 22px;
    line-height: 150%;
    font-family: 'Noto Sans SC', sans-serif;
    color: #111;

    // Border
    // padding: 10px 20px;
    // margin-left: -1px;
    // border: 1px solid #111;

    &:hover {
        text-decoration: none;
        color: #AA381E;
        border-color: #AA381E;
    }
}
.site-desc {
    float: right;
    text-align: right;
    margin: 12px 0;
}
.post-list > li {
    margin-bottom: 15px;
}
.post-meta {
    margin-right: 15px;
}
.post-link {
    font-size: inherit;
    display: inline;
}
.post-title {
    font-size: 1.5em;
    line-height: 1;
    letter-spacing: normal;
}